In [40]:
%matplotlib inline
import warnings
warnings.filterwarnings('ignore')

import os

import IPython.display as ipd
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import sklearn as skl
import sklearn.utils, sklearn.preprocessing, sklearn.decomposition, sklearn.svm
import librosa
import librosa.display
import ast
from sklearn import svm

import utils

plt.rcParams['figure.figsize'] = (17, 5)

In [41]:
# Directory where mp3 are stored.
AUDIO_DIR = os.environ.get('AUDIO_DIR')

# Load metadata and features.
tracks = utils.load('../data/fma_metadata/tracks.csv')
genres = utils.load('../data/fma_metadata/genres.csv')


tracks.shape, genres.shape

((106574, 53), (163, 4))

### Creating files for small dataset - 8 genres - 1000 tracks each

In [42]:
smalltracks  = tracks.loc[tracks['subset']=='small']
smalltracks.shape

(8000, 53)

In [43]:
smallgenres

          #tracks  parent               title  top_level
genre_id
2            5271       0       International          2
5            4106       0           Classical          5
10          13845       0                 Pop         10
182          1482      15               House         15
602            94      79  Reggae - Dancehall          2
695           258      15              Jungle         15
1193           72     763           Christmas         38

In [45]:
genres

          #tracks  parent          title  top_level
genre_id
1            8693      38    Avant-Garde         38
2            5271       0  International          2
3            1752       0          Blues          3
4            4126       0           Jazz          4
5            4106       0      Classical          5
...           ...     ...            ...        ...
1032           60     102        Turkish          2
1060           30      46          Tango          2
1156           26     130           Fado          2
1193           72     763      Christmas         38
1235        14938       0   Instrumental       1235

[163 rows x 4 columns]

In [46]:
smalltracks.columns

MultiIndex([( 'album',          'comments'),
            ( 'album',      'date_created'),
            ( 'album',     'date_released'),
            ( 'album',          'engineer'),
            ( 'album',         'favorites'),
            ( 'album',                'id'),
            ( 'album',       'information'),
            ( 'album',           'listens'),
            ( 'album',          'producer'),
            ( 'album',              'tags'),
            ( 'album',             'title'),
            ( 'album',            'tracks'),
            ( 'album',              'type'),
            ('artist', 'active_year_begin'),
            ('artist',   'active_year_end'),
            ('artist', 'associated_labels'),
            ('artist',               'bio'),
            ('artist',          'comments'),
            ('artist',      'date_created'),
            ('artist',         'favorites'),
            ('artist',                'id'),
            ('artist',          'latitude'),
            ('artist',          'location'),
            ('artist',         'longitude'),
            ('artist',           'members'),
            ('artist',              'name'),
            ('artist',  'related_projects'),
            ('artist',              'tags'),
            ('artist',           'website'),
            ('artist',    'wikipedia_page'),
            (   'set',             'split'),
            (   'set',            'subset'),
            ( 'track',          'bit_rate'),
            ( 'track',          'comments'),
            ( 'track',          'composer'),
            ( 'track',      'date_created'),
            ( 'track',     'date_recorded'),
            ( 'track',          'duration'),
            ( 'track',         'favorites'),
            ( 'track',         'genre_top'),
            ( 'track',            'genres'),
            ( 'track',        'genres_all'),
            ( 'track',       'information'),
            ( 'track',          'interest'),
            ( 'track',     'language_code'),
            ( 'track',           'license'),
            ( 'track',           'listens'),
            ( 'track',          'lyricist'),
            ( 'track',            'number'),
            ( 'track',         'publisher'),
            ( 'track',              'tags'),
            ( 'track',             'title'),
            ('subset',                  '')],
           )

In [47]:
smalltracks['genre'] = smalltracks['track','genre_top']

In [48]:
smalltracks['testtrainval'] = smalltracks['set','split']

In [49]:
genresdf = smalltracks[['genre','testtrainval']]

In [50]:
genresdf.head()

            genre testtrainval

track_id
2         Hip-Hop     training
5         Hip-Hop     training
10            Pop     training
140          Folk     training
141          Folk     training

In [51]:
genresdf.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8000 entries, 2 to 155066
Data columns (total 2 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   (genre, )         8000 non-null   category
 1   (testtrainval, )  8000 non-null   object
dtypes: category(1), object(1)
memory usage: 133.6+ KB

In [52]:
genres_list = set(list(smalltracks['track','genre_top'].values))

In [53]:
genres_list

{'Electronic',
 'Experimental',
 'Folk',
 'Hip-Hop',
 'Instrumental',
 'International',
 'Pop',
 'Rock'}

In [55]:
smallgenres = genres.loc[genres['title'].isin(genres_list)]
smallgenres.shape

(8, 4)

In [63]:
smalltracks.to_csv('../data/Final-csvs/smalltracks.csv')
smallgenres.to_csv('../data/Final-csvs/smallgenres.csv')
genresdf.to_csv('../data/Final-csvs/genrelist.csv')